<!DOCTYPE HTML>
<html>
<head>
    <title>Netzfilm - Fehler </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta-Tags, um das Caching zu verhindern -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<div>
    <h1>The page you're looking for could not be found! </h1>
    <h2>Please check your request</h2>
    <div class="link"><a href="/">Home</a></div>
</div>

</body>
</html>
